html, body, #app, #app>div {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  float: left;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 16px 16px;
  padding: 16px 8px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  width: 100%;
}

div.column-sm {
  background-color: #bbb;
  display: inline;
  text-align: left;
  padding: 0px 16px;
  float: left;
  width: 240px;
  height: 100%;
}

div.column-lg {
  display: inline;
  float: left;
  margin: 0px 16px;
  width: 100%;
}

p.detail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 240px;
}

p.detail:hover {
  white-space: inherit;
  overflow: inherit;
  text-overflow: inherit;
  width: 240px;
}

.timer {
  font-size: 128px;
}

.timer-message {
  font-size: 36px;
}

.timer-actions {
}

.timer-icon-btn {
  margin: 16px;
}

.icon-btn-container {
  display: inline-block;
  margin: 16px 16px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
